@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	color: #000000;
}

body {
  margin: 0;
}
